<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
	</head>

	<body>

		<h1>Welcome, {{username}}</h1>

		<h2> All Flight Tickets Purchased </h2>

		<table>

			<tr>
				<td> Customer Email </td>
				<td> Flight Number </td>
				<td> Ticket ID </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Trip Type </td>
			</tr>

			{% for flight in all_flights %}

				{% for flight_info in all_flights_info %}

					{% if flight['flight_num'] == flight_info['flight_num'] %}

					<tr>
						<td> {{ flight['cus_email'] }} </td>
						<td> {{ flight['flight_num'] }} </td>
						<td> {{ flight['ticket_ID'] }} </td>
						<td> {{ flight_info['airline_name'] }} </td>
						<td> {{ flight_info['airplane_ID'] }} </td>
						<td> {{ flight_info['departure_airport'] }} </td>
						<td> {{ flight_info['departure_date'] }} </td>
						<td> {{ flight_info['departure_time'] }} </td>
						<td> {{ flight_info['arrival_airport'] }} </td>
						<td> {{ flight_info['arrival_date'] }} </td>
						<td> {{ flight_info['arrival_time'] }} </td>
						<td> {{ flight_info['trip_type'] }} </td>
					<tr>

					{% endif %}

				{% endfor %}
				
			{% endfor %}

		</table>


		<!-- Displays all PAST flights that the customer has purchased tickets for -->
		<h2> Past Flight Tickets Purchased </h2>
	
		<table>

			<tr>
				<td> Customer Email </td>
				<td> Flight Number </td>
				<td> Ticket ID </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Trip Type </td>
			</tr>


			{% for flight in all_flights %}

				{% for flight_info in past_flights_info %}

					{% if flight['flight_num'] == flight_info['flight_num'] %}

					<tr>
						<td> {{ flight['cus_email'] }} </td>
						<td> {{ flight['flight_num'] }} </td>
						<td> {{ flight['ticket_ID'] }} </td>
						<td> {{ flight_info['airline_name'] }} </td>
						<td> {{ flight_info['airplane_ID'] }} </td>
						<td> {{ flight_info['departure_airport'] }} </td>
						<td> {{ flight_info['departure_date'] }} </td>
						<td> {{ flight_info['departure_time'] }} </td>
						<td> {{ flight_info['arrival_airport'] }} </td>
						<td> {{ flight_info['arrival_date'] }} </td>
						<td> {{ flight_info['arrival_time'] }} </td>
						<td> {{ flight_info['trip_type'] }} </td>
					<tr>

					{% endif %}
					
				{% endfor %}	

			{% endfor %}

			</tr>

		</table>


		<!-- Displays all FUTURE flights that the customer has purchased tickets for -->
		<h2> Future Flight Tickets Purchased </h2>

		<table>

			<tr>
				<td> Customer Email </td>
				<td> Flight Number </td>
				<td> Ticket ID </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Trip Type </td>
				<td> Flight Status </td>
			</tr>

			<tr>

			{% for flight in all_flights %}

				{% for flight_info in future_flights_info %}

					{% if flight['flight_num'] == flight_info['flight_num'] %}

					<tr>
						<td> {{ flight['cus_email'] }} </td>
						<td> {{ flight['flight_num'] }} </td>
						<td> {{ flight['ticket_ID'] }} </td>
						<td> {{ flight_info['airline_name'] }} </td>
						<td> {{ flight_info['airplane_ID'] }} </td>
						<td> {{ flight_info['departure_airport'] }} </td>
						<td> {{ flight_info['departure_date'] }} </td>
						<td> {{ flight_info['departure_time'] }} </td>
						<td> {{ flight_info['arrival_airport'] }} </td>
						<td> {{ flight_info['arrival_date'] }} </td>
						<td> {{ flight_info['arrival_time'] }} </td>
						<td> {{ flight_info['trip_type'] }} </td>
						<td> {{ flight_info['flight_status'] }} </td>
					<tr>

					{% endif %}
					
				{% endfor %}	

			{% endfor %}

			</tr>

		</table> </br>


		<!-- Displays form for the customer to search for future flights -->
		<hr>
		<h2> Search for and Purchase Flights </h2>

		<form action="/agentHome" method="POST">
			Trip Type:
			<select name="trip_type" required>
				<option value="select"> Select </option>
				<option value="One Way"> One Way </option>
				<option value="Round Trip"> Round Trip </option>
			</select>

			Departure City:
			<select name="source" required>
				<option value="select"> Select </option>
				<option value="JFK"> New York / JFK </option>
				<option value="PVG"> Shanghai / PVG </option>
			</select>

			Destination City:
			<select name="destination" required>
				<option value="select"> Select </option>
				<option value="JFK"> New York / JFK </option>
				<option value="PVG"> Shanghai / PVG </option>
			</select>

			Departure Date:
			<input type="date" name="departure" required>

			Arrival Date:
			<input type="date" name="arrival" required>

			<input type="submit" value=Search />
			
		</form>


		<!-- Displays the flights generated from the 'Search for and Purchase Flights' form -->
		{% if query_flights and query_flights!= "No Results" %}
		
		</br>
		<table>

			<tr>
				<td> Flight Number </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Trip Type </td>
				<td> Price </td>
				<td> Flight Status </td>
				<td> Check Availability? </td>
			</tr>

			{% for flight in query_flights %}

			<tr>
				<td> {{ flight['flight_num'] }} </td>
				<td> {{ flight['airline_name'] }} </td>
				<td> {{ flight['airplane_ID'] }} </td>
				<td> {{ flight['departure_airport'] }} </td>
				<td> {{ flight['departure_date'] }} </td>
				<td> {{ flight['departure_time'] }} </td>
				<td> {{ flight['arrival_airport'] }} </td>
				<td> {{ flight['arrival_date'] }} </td>
				<td> {{ flight['arrival_time'] }} </td>
				<td> {{ flight['trip_type'] }} </td>	
				<td> {{ flight['base_price'] }} </td>	
				<td> {{ flight['flight_status'] }} </td>
				<td>
					<form action="/agentHome" method="POST">
						<button type="submit" name="flight_select" value= {{ flight['flight_num'] }} > Yes </button>
					</form>

				</td>	
			</tr>

			{% endfor %}	

		</table> </br>

		{% elif query_flights == "No Results" %}
			<h4 style="color: red"> {{ query_flights }}</h4>
		{% endif %}

		
		<!-- Displays the tickets avaiable (if any) for the flight that the customer checked the avaiability -->
		{% if tickets and tickets != "No Tickets" %}
			<hr>
			<!-- If there are tickets avaiable, display the purchase form -->
			<h2> Purchase Tickets </h2>
			<!-- <h3 style="color: green"> Tickets are Available for Flight: {{flight_select}}. Complete Your Purchase Below </h3> -->
			
			<form action="/agentHome" method="POST">
				Flight:
				<select name="flight_purchase" required>
					<option value= {{ flight_select }} > {{ flight_select }} </option>
				</select>
				
				</br> </br>

				Tickets (Select One or Multiple):
				{% for ticket in tickets%}

					<input type="checkbox" name="ticket" value= {{ ticket['ticket_ID'] }} />
					TN-{{ ticket['ticket_ID'] }}

				{% endfor %}

				</br> </br>

				Customer Email:
				<input type="text" name="cus_email" placeholder="Customer Email" required/>

				Card Type:
				<input type="text" name="type" placeholder="Card Type" required/>

				Card Number:
				<input type="text" name="num" placeholder="Card Number" required/>

				Card Security Code:
				<input type="text" name="security" placeholder="Security Code" required/>

				Card Name:
				<input type="text" name="name" placeholder="Card Name" required/>
				
				Card Expiration Date:
				<input type="date" name="exp" placeholder="Card Expiration Date" required/> </br>  </br>

				<input type="submit" value="Purchase" />
			</form>

		<!-- If there are no tickets avaiable, notify the user -->
		{% elif tickets == "No Tickets" %}

			<h4 style="color: red"> No Tickets Avaiable for Flight: {{flight_select}} </h4>

		{% endif %}

		
		<!-- If the purchase is complete, notify the user -->
		<!-- {% if purchase == "Complete" %}
			<hr>
			<h2> Purchase Tickets </h2>
			<h4 style="color: green"> Purchase Complete </h4>

		{% endif %} -->

		</br>

		<!-- Displays booking agent's commission -->
		<hr>
		<h2> My Commission </h2>

		<!-- The booking agent's expenses within the past year is displayed -->
		{% if month_commission and month_tickets_sold and month_comm_per_ticket or (date_commission == '0.0' and date_tickets_sold == 0 and date_comm_per_ticket == '0.0') %}
			<h4> You Have Made ${{month_commission}}0 Within the Past 30 Days </h4>
			<h4> You Have Sold {{month_tickets_sold}} Tickets Within the Past 30 Days </h4>
			<h4> You Have Made An Average Commission of ${{month_comm_per_ticket}}0 Per Ticket Within the Past 30 Days </h4>
			<h4> Use the Filter to Track your Commission Across Different Dates </h4>
		{% endif %}

		<!-- If the booking agent submits the 'My Commission' form, their expenses within the past year will be displayed -->
		{% if (date_commission and date_tickets_sold and date_comm_per_ticket) or (date_commission == '0.0' and date_tickets_sold == 0 and date_comm_per_ticket == '0.0') %}
			</br>
			<h4> You Have Made ${{date_commission}}0 Between {{start_date}} and {{end_date}} </h4>
			<h4> You Have Sold {{date_tickets_sold}} Tickets Between {{start_date}} and {{end_date}} </h4>
			<h4> You Have Made An Average Commission of ${{date_comm_per_ticket}}0 Per Ticket Between {{start_date}} and {{end_date}} </h4>
		{% endif %}

		<form action="/agentHome" method="POST">
			Start Date:
			<input type="date" name="start_date" required>

			End Date:
			<input type="date" name="end_date" required>

			<input type="submit" value=Search />		
		</form> </br>


		<!-- Displays the booking agent's top customers -->
		<hr>
		<h2> My Top Customers </h2>

		<!-- The customer's expenses within the past year is displayed -->
		{% if top_customers_month %}
			<h4> Top 5 Customers Within the Past 6 Months Based on Tickets </h4>

			<table>

				<tr>
					<td> Customer Email </td>
					<td> Tickets Sold </td>
				</tr>

				{% for customer in top_customers_month %}

				<tr>
					<td> {{ customer['cus_email'] }} </td>
					<td> {{ customer['tickets'] }} </td>
				</tr>

				{% endfor %}	

			</table> </br>

				
		{% endif %}

		{% if top_customers_year %}
			<h4> Top 5 Customers Within the Past Year Based on Commission </h4>

			<table>

				<tr>
					<td> Customer Email </td>
					<td> Commission </td>
				</tr>

				{% for customer in top_customers_year %}

				<tr>
					<td> {{ customer['cus_email'] }} </td>
					<td> ${{ customer['cus_commission'] }}0 </td>
				</tr>

				{% endfor %}	

			</table> </br>
			
		{% endif %}


		<!-- Bar Chart 1 Info -->
		<script> var data1 = Array(); var data2 = Array() </script>

		{% for customer in top_customers_month %}
			<script>
				data1.push({ y: parseInt("{{ customer['tickets'] }}") , label: "{{ customer['cus_email'] }}" });
			</script>
		{% endfor %}

		<!-- Bar Chart 2 Info -->

		{% for customer in top_customers_year %}
			<script>
				data2.push({ y: parseInt("{{ customer['cus_commission'] }}") , label: "{{ customer['cus_email'] }}" });
			</script>
		{% endfor %}

		<script>
			
			window.onload = function () {

				// Bar Chart 1 Info
				var chart1 = new CanvasJS.Chart("chartContainer1", {
				animationEnabled: true,
				theme: "light2", // "light1", "light2", "dark1", "dark2"
				title:{
					text: "Most Frequent Customers (By Ticket)"
				},
				axisY: {
					title: "Tickets"
				},
				data: [{        
					type: "column",  
					showInLegend: true, 
					legendMarkerColor: "grey",
					legendText: "Customers",
					dataPoints: data1
				}]
			});
			chart1.render();
			
			// Bar Chart 2 Info
			var chart2 = new CanvasJS.Chart("chartContainer2", {
				animationEnabled: true,
				theme: "light2", // "light1", "light2", "dark1", "dark2"
				title:{
					text: "Most Frequent Customers (By Commission)"
				},
				axisY: {
					title: "Commission"
				},
				data: [{        
					type: "column",  
					showInLegend: true, 
					legendMarkerColor: "grey",
					legendText: "Customers",
					dataPoints: data2
				}]
			});
			chart2.render();
			
			}
		</script>

		<div id="chartContainer1" style="height: 300px; width: 100%;"></div>
		<div id="chartContainer2" style="height: 300px; width: 100%;"></div>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

		<hr>
		<a href="/agentLogout">Logout</a>

	</body>

</html>
