<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
	</head>

	<body>

		<h1>Welcome, {{username}} </h1>

		<!-- <p> Flights: {{flights}} </p>
		<p> Flights Info: {{flights_info}} </p> -->

		<h3> View My Flights</h3>

		{% for flight in flights %}

		<table>

			<tr>
				<td>Flight Number</td>
				<td>Ticket ID</td>
				<td>Airline Name</td>
				<td>Airplane ID</td>
				<td>Departure Airport</td>
				<td>Departure Date</td>
				<td>Departure Time</td>
				<td>Arrival Airport</td>
				<td>Arrival Date</td>
				<td>Arrival Time</td>
				<td>Flight Status</td>
			</tr>

			<tr>
				<td>{{flight['flight_num']}}</td>
				<td>{{flight['ticket_ID']}}</td>

				{% for flight_info in flights_info %}

					{% if flight['flight_num'] == flight_info['flight_num'] %}

					<td>{{flights_info['airline_name']}}</td>
					<td>{{flights_info['airplane_ID']}}</td>
					<td>{{flights_info['departure_airport']}}</td>
					<td>{{flights_info['departure_date']}}</td>
					<td>{{flights_info['departure_time']}}</td>
					<td>{{flights_info['arrival_airport']}}</td>
					<td>{{flights_info['arrival_date']}}</td>
					<td>{{flights_info['arrival_time']}}</td>
					<td>{{flights_info['flight_status']}}</td>
					
					{% endif %}
					
				{% endfor %}	

			</tr>

		</table>

		{% endfor %}

		<h3> Search for Flights </h3>

		<h3> Purchase Tickets </h3>

		<h3> Rate and Comment on Previous Flights </h3>

		<h3> Track My Spending </h3>

		<a href="/logout">Logout</a>

	</body>

</html>
