<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
	</head>

	<body>

		<h1>Welcome, {{ username }} </h1>

		<h3> View All My Flights </h3>

		<table>

			<tr>
				<td> Flight Number </td>
				<td> Ticket ID </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Flight Status </td>
			</tr>

			<tr>

			{% for flight in flights %}

				{% for flight_info in all_flights_info %}

					{% if flight['flight_num'] == flight_info['flight_num'] %}

						<td> {{ flight['flight_num'] }} </td>
						<td> {{ flight['ticket_ID'] }} </td>
						<td> {{ flight_info['airline_name'] }} </td>
						<td> {{ flight_info['airplane_ID'] }} </td>
						<td> {{ flight_info['departure_airport'] }} </td>
						<td> {{ flight_info['departure_date'] }} </td>
						<td> {{ flight_info['departure_time'] }} </td>
						<td> {{ flight_info['arrival_airport'] }} </td>
						<td> {{ flight_info['arrival_date'] }} </td>
						<td> {{ flight_info['arrival_time'] }} </td>
						<td> {{ flight_info['flight_status'] }} </td>
					
					{% endif %}
					
				{% endfor %}
				
			{% endfor %}

			</tr>

		</table>



		<h3> View My Past Flights </h3>
	
		<table>

			<tr>
				<td> Flight Number </td>
				<td> Ticket ID </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Flight Status </td>
			</tr>

			<tr>

			{% for flight in flights %}

				{% for flight_info in past_flights_info %}

					{% if flight['flight_num'] == flight_info['flight_num'] %}

						<td> {{ flight['flight_num'] }} </td>
						<td> {{ flight['ticket_ID'] }} </td>
						<td> {{ flight_info['airline_name'] }} </td>
						<td> {{ flight_info['airplane_ID'] }} </td>
						<td> {{ flight_info['departure_airport'] }} </td>
						<td> {{ flight_info['departure_date'] }} </td>
						<td> {{ flight_info['departure_time'] }} </td>
						<td> {{ flight_info['arrival_airport'] }} </td>
						<td> {{ flight_info['arrival_date'] }} </td>
						<td> {{ flight_info['arrival_time'] }} </td>
						<td> {{ flight_info['flight_status'] }} </td>
						
					{% endif %}
					
				{% endfor %}	

			{% endfor %}

			</tr>

		</table>



		<h3> View My Future Flights</h3>

		<table>

			<tr>
				<td> Flight Number </td>
				<td> Ticket ID </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Flight Status </td>
			</tr>

			<tr>

			{% for flight in flights %}

				{% for flight_info in future_flights_info %}

					{% if flight['flight_num'] == flight_info['flight_num'] %}

						<td> {{ flight['flight_num'] }} </td>
						<td> {{ flight['ticket_ID'] }} </td>
						<td> {{ flight_info['airline_name'] }} </td>
						<td> {{ flight_info['airplane_ID'] }} </td>
						<td> {{ flight_info['departure_airport'] }} </td>
						<td> {{ flight_info['departure_date'] }} </td>
						<td> {{ flight_info['departure_time'] }} </td>
						<td> {{ flight_info['arrival_airport'] }} </td>
						<td> {{ flight_info['arrival_date'] }} </td>
						<td> {{ flight_info['arrival_time'] }} </td>
						<td> {{ flight_info['flight_status'] }} </td>
						
					{% endif %}
					
				{% endfor %}	

			{% endfor %}

			</tr>

		</table>



		<h3> Search for Flights </h3>

		<form action="/searchFlights" method="POST">
			Flight Package:
			<select name="package" required>
				<option value="select"> Select </option>
				<option value="One Way"> One Way </option>
				<option value="Round Trip"> Round Trip </option>
			</select>

			Departure City:
			<select name="source" required>
				<option value="select"> Select </option>
				<option value="JFK"> New York / JFK </option>
				<option value="PVG"> Shanghai / PVG </option>
			</select>

			Destination City:
			<select name="destination" required>
				<option value="select"> Select </option>
				<option value="JFK"> New York / JFK </option>
				<option value="PVG"> Shanghai / PVG </option>
			</select>

			Departure Date:
			<input type="date" name="departure" required>

			Arrival Date:
			<input type="date" name="arrival" required>

			<input type="submit" value=Search />
			
		</form>

		{% if query_flights %}

		<table>

			<tr>
				<td> Flight Number </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Flight Status </td>
			</tr>

			<tr>

			{% for flight in query_flights %}

				<td> {{ flight['flight_num'] }} </td>
				<td> {{ flight['airline_name'] }} </td>
				<td> {{ flight['airplane_ID'] }} </td>
				<td> {{ flight['departure_airport'] }} </td>
				<td> {{ flight['departure_date'] }} </td>
				<td> {{ flight['departure_time'] }} </td>
				<td> {{ flight['arrival_airport'] }} </td>
				<td> {{ flight['arrival_date'] }} </td>
				<td> {{ flight['arrival_time'] }} </td>
				<td> {{ flight['flight_status'] }} </td>	
				
			{% endfor %}	

			</tr>

		</table>

		{% endif %}

		<h3> Purchase Tickets </h3>

		<h3> Rate and Comment on Previous Flights </h3>

		<h3> Track My Spending </h3>

		<a href="/logout">Logout</a>

	</body>

</html>
