<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>

		{% if not message %}
			<!-- <a href="/login.html">Login</a> -->
			<a href="/customerLogin">Customer Login</a> <br>
			<a href="/customerRegistration">Customer Registration</a> <br> <br>

			<a href="/agentLogin">Booking Agent Login</a> <br>
			<a href="/agentRegistration">Booking Agent Registration</a> <br> <br>

			<a href="/staffLogin">Airline Staff Login</a> <br>
			<a href="/staffRegistration">Airline Staff Registration</a> <br> <br>

		{% endif %}

		{% if message %}
			<a href="/logout">Logout</a>
			<a href="/remove_account">Remove Account</a>
			<p class="message">You are logged in {{message}}. You have {{num}} follower(s)</p> </br>
			<a href="/tweets">View your tweets</a> </br>
			<a href="/find_people">Find people to follow</a> </br>
			<a href="/unfollow">Unfollow someone</a> </br>
			<a href="/view_followed">View people you have followed</a> </br>
			</br>

		  <h4>15 most recent tweets from you and your followers </h4> </br>

			{% for line in tweets%}
			<p>{{line}}</p>
			<hr>
			{% endfor %}
			{% endif %}

		</body>

</html>
