<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
	</head>

	<body>

		<h1>Welcome, {{username}}</h1>

		<h2> All Flights </h2>

		<table>

			<tr>
				<td> Flight Number </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Trip Type </td>
			</tr>

			{% for flight in all_flights %}

				<tr>
					<td> {{ flight['flight_num'] }} </td>
					<td> {{ flight['airline_name'] }} </td>
					<td> {{ flight['airplane_ID'] }} </td>
					<td> {{ flight['departure_airport'] }} </td>
					<td> {{ flight['departure_date'] }} </td>
					<td> {{ flight['departure_time'] }} </td>
					<td> {{ flight['arrival_airport'] }} </td>
					<td> {{ flight['arrival_date'] }} </td>
					<td> {{ flight['arrival_time'] }} </td>
					<td> {{ flight['trip_type'] }} </td>
				<tr>

			{% endfor %}

		</table>

		<h2> Past Flights </h2>

		<table>

			<tr>
				<td> Flight Number </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Trip Type </td>
			</tr>

			{% for flight in past_flights %}

				<tr>
					<td> {{ flight['flight_num'] }} </td>
					<td> {{ flight['airline_name'] }} </td>
					<td> {{ flight['airplane_ID'] }} </td>
					<td> {{ flight['departure_airport'] }} </td>
					<td> {{ flight['departure_date'] }} </td>
					<td> {{ flight['departure_time'] }} </td>
					<td> {{ flight['arrival_airport'] }} </td>
					<td> {{ flight['arrival_date'] }} </td>
					<td> {{ flight['arrival_time'] }} </td>
					<td> {{ flight['trip_type'] }} </td>
				<tr>

			{% endfor %}

		</table>

		<h2> Future Flights </h2>

		<table>

			<tr>
				<td> Flight Number </td>
				<td> Airline Name </td>
				<td> Airplane ID </td>
				<td> Departure Airport </td>
				<td> Departure Date </td>
				<td> Departure Time </td>
				<td> Arrival Airport </td>
				<td> Arrival Date </td>
				<td> Arrival Time </td>
				<td> Trip Type </td>
				<td> Flight Status </td>
				<td> Change Flight Status </td>

			</tr>

			{% for flight in all_flights %}

				<tr>
					<td> {{ flight['flight_num'] }} </td>
					<td> {{ flight['airline_name'] }} </td>
					<td> {{ flight['airplane_ID'] }} </td>
					<td> {{ flight['departure_airport'] }} </td>
					<td> {{ flight['departure_date'] }} </td>
					<td> {{ flight['departure_time'] }} </td>
					<td> {{ flight['arrival_airport'] }} </td>
					<td> {{ flight['arrival_date'] }} </td>
					<td> {{ flight['arrival_time'] }} </td>
					<td> {{ flight['trip_type'] }} </td>
					<td> {{ flight['flight_status'] }} </td>
					<td>
						<form action="/staffHome" method="POST">
							<select name="flight_select" value={{ flight['flight_num'] }} required>
								<option value={{ flight['flight_num'] }}> {{ flight['flight_num'] }} </option>
							</select>

							<select name="flight_status" required>
								{% if flight['flight_status'] == "On Time" %}
									<option value="Delayed"> Delayed</option>
								{% else %}
									<option value="On Time"> On Time </option>
								{% endif %}
							</select>
							<input type="submit" value="Change Flight Status" />
						</form>

						{% if change_flight_status == "Complete" and flight['flight_num']%}
							<h4 style="color: green"> Flight Status Changed </h4>
						{% endif %}
					</td>	
				<tr>

			{% endfor %}

		</table>

		</br> <hr>

		<h2> Add New Flight </h2>

			<form action="/staffHome" method="POST">

				Flight Number: <input type="text" name="flight_num" placeholder="Flight Number (FN-#)" required/>
				
				Airlplane ID:
				<select name="airplane_ID" required>
					<option value="select"> Select </option>
					<option value="APID-1"> APID-1 </option>
					<option value="APID-2"> APID-2 </option>
				</select>

				Trip Type:
				<select name="trip_type" required>
					<option value="select"> Select </option>
					<option value="One Way"> One Way </option>
					<option value="Round Trip"> Round Trip </option>
				</select> </br> </br>

				Departure Airport:
				<select name="departure_airport" required>
					<option value="select"> Select </option>
					<option value="JFK"> New York / JFK </option>
					<option value="PVG"> Shanghai / PVG </option>
				</select>

				Departure Date: <input type="date" name="departure_date" placeholder="Departure Date" required/>
				Departure Time: <input type="time" name="departure_time" placeholder="Departure Time" required/> </br> </br>

				Arrival Airport:
				<select name="arrival_airport" required>
					<option value="select"> Select </option>
					<option value="JFK"> New York / JFK </option>
					<option value="PVG"> Shanghai / PVG </option>
				</select>

				Arrival Date: <input type="date" name="arrival_date" placeholder="Arrival Date" required/>
				Arrival Time: <input type="time" name="arrival_time" placeholder="Arrivale Time" required/> </br> </br>
				Base Price: <input type="text" name="base_price" placeholder="Base Price" required/> </br> </br>

				Flight Status:
				<select name="flight_status" required>
					<option value="select"> Select </option>
					<option value="On Time"> On Time </option>
					<option value="Delayed"> Delayed</option>
				</select> </br> </br>	

				<input type="submit" value="Add Flight" />

			</form>

			{% if add_flight == "Complete" %}
			<h4 style="color: green"> Flight Added </h4>
			{% endif %}

		</br> <hr>

		<h2> Add New Airplane </h2>

			<form action="/staffHome" method="POST">

				Airlplane ID: <input type="text" name="airplane_ID" placeholder="Airplane ID (APID-#)" required/>
				Seats: <input type="text" name="seats" placeholder="Seats" required/>

				<input type="submit" value="Add Airplane" />

			</form>

			{% if add_airplane == "Complete" %}
			<h4 style="color: green"> Flight Added </h4>
			{% endif %}

			</br> <hr>

		<a href="/staffLogout">Logout</a>

	</body>

</html>
