<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
	</head>

	<body>

		<h1> Airline Staff Registration </h1>

		<form action="/staffRegistrationAuth" method="POST">
			First Name:
			</br> <input type="text" name="firstName" placeholder="First Name" required/> </br> </br>

			Last Name:
			</br> <input type="text" name="lastName" placeholder="Last Name" required/> </br> </br>

			Username:
			</br> <input type="text" name="username" placeholder="Username" required/> </br> </br>

			Password:
			</br> <input type="password" name="password" placeholder="Password" required/> </br> </br>

			Date of Birth:
			</br> <input type="date" name="dob" placeholder="DOB: YYYYDDMM" required/> </br> </br>

			Phone Number:
			</br> <input type="text" name="phone" placeholder="Phone Number" required/> </br> </br>

			Airline Name:
			</br> <input type="text" name="airline" placeholder="Airline" required/> </br> </br>

			<input type="submit" value = Register />

			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</form>

		<a href="/">Go back</a>

	</body>

</html>
