* {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

p {
    font-size: 12px;  
}

table, tr, td {
    border: 1px solid black;
}

td {
    padding: 15px;
}

.bar1 {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: green;
    font-weight: bold;
}

.bar2 {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: yellow;
    font-weight: bold;
}